#header {
  display: unset;
}

.header {
  position: sticky;
  top: 0;
  font-size: 14px;
  z-index: 100;
  background-color: white;
  border-bottom: 1px solid #ebebeb;

  // header-top
  &-top {
    display: flex;
    align-items: center;
  }

  &-top-left,
  &-top-right,
  &-top-main {
    display: inline-flex;
    align-items: center;

    flex: 1 1 auto;
    flex-basis: 33.33%;
    width: 33.33%;
    height: 100%;
  }

  &-top-main {
    justify-content: center;
  }

  &-top-left {
    justify-content: start;
  }

  &-top-right {
    justify-content: end;
  }

  &-top-logo {
    display: inline-flex;
    max-width: 100%;
    padding: 20px 0 16px 0;

    a {
      display: inline-flex;
      width: 90px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &-top-left,
  &-top-right {
    ul,
    li {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    li {
      display: inline-flex;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  // search
  &-search {
    height: 52px;
    display: flex;
    justify-content: center;
  }

  // main nav
  &-nav {
    height: 52px;
    display: flex;
    justify-content: center;
  }

  .preview-search {
    > .component-content {
      width: 100%;
      margin: 0 auto;
    }
  }

  @include media-breakpoint-up(sm) {
    .preview-search {
      > .component-content {
        width: 345px;
      }
    }
  }

  @include media-breakpoint-up(md) {
    // top
    &-top-left,
    &-top-right {
      flex-basis: 41.67%;
      max-width: 41.67%;
    }

    &-top-main {
      flex-basis: 16.66%;
      max-width: 16.66%;
    }

    &-top-logo {
      a {
        width: 130px;
      }
    }

    .preview-search {
      > .component-content {
        width: 425px;
      }
    }
  }
}
